# AWS
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_DEFAULT_REGION=us-east-2

# SQS
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/YOUR_ACCOUNT_ID/queue-name

# S3
S3_BUCKET_NAME=bucket-name

# RDS
DATABASE_URL=postgresql+psycopg://parking:yourpassword@your-rds-endpoint.rds.amazonaws.com:5432/parking

# Redis (se sobreescribe a un contenedor local en docker-compose.yml de desarrollo)
REDIS_URL=redis://redis:6379/0

# JWT
JWT_SECRET=long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# App
ENVIRONMENT=development
LOG_LEVEL=debug

# Pi mock
SEND_INTERVAL_SECONDS=5
NUM_SPOTS=12
DEVICE_ID=cam-mock-01
PARKING_ID=parking-mock-01
PARKING_NAME=Mock-Parking-Lot