# --- SETUP INSTRUCTIONS ---
# 1. Copy this file and rename it to ".env"
# 2. Fill in your personal AWS credentials and local DB settings.
# 3. IMPORTANT: Never commit the ".env" file to GitHub.

# --- AWS AUTH ---
# IAM -> Users -> Security Credentials.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# --- INFRASTRUCTURE ---
AWS_IOT_ENDPOINT=
AWS_SQS_URL=
AWS_S3_BUCKET=

# --- DATABASE ---
# Format: postgresql://user:password@host:port/db_name
DATABASE_URL=

# --- SERVER ---
# Standard port for FastAPI (Change locally if 8000 is occupied)
PORT=8000